<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data scientists include:
1. TensorFlow
2. SciKit-Learn
3. Keras
4. pyTorch
5. Seaborn

|Data Science Tools|
|-------------------|
|Jupyter Notebook|
|Anaconda|
|R studio|

### H3: Below are a few examples of evaluating arithmetic expression in Python

This is a simple arithmetic expression to multiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
(200/60)

3.3333333333333335

__Objective__
+ List the popular lanhuages in Data Science
+ List some common libraries in Data Science
+ List some Data Tools
+ Arithmetic expression in python

## H2: Author
Chinelo Sharon